<div class="row">
  <div class="col-8 offset-2">
    <h1>生地編集</h1>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-2">
    <%= form_for @material, url: admin_material_path do |f| %>
      <table class="table">
        <tr>
        <th><label for="material_name">生地名</label></th>
        <td><%= f.text_field :name, size: 40 %></td>
        </tr>
        <tr>
          <td>利用状態</td>
          <td><%= f.radio_button :status, :有効 %>
          <%= f.label "有効", class: "mr-4" %>
          <%= f.radio_button :status, :無効 %>
          <%= f.label "無効" %></td>
        </tr>
        <tr>
          <th><label for="material_image">生地画像</label></th>
          <td><%= attachment_image_tag @material, :image, :fill, 150, 100, format: 'jpeg' %>
          <%= f.attachment_field :image, placeholder: "material Image" %></td>
        </tr>
        <tr>
          <td><%= f.submit "変更を保存する", class: "btn btn-primary" %></td><td></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>