<div class="row">
  <div class="col-4">
    <h2>◆本日の注文件数：　<%= @today_orders.count %>　件</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h1>注文履歴一覧</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文商品</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M"), admin_order_path(order) %></td>
            <td><%= order.name %></td>
            <td><% order.order_details.each do |item| %>
              ◆<%= item.item_name %><br>
              生地：<%= item.material_name %>、リボン：<%= item.ribbon_color %><br>
            <% end %></td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>