<div class="row">
  <div class="col-8 offset-2">
    <h1>◆初めまして！</h1>
    
    <p>このサイトは、2匹の我がダックスたち【すず】【のえる】のために服を製作していたオーナーが
    <br>皆様にも可愛いわんちゃん服をご提供するための、わんちゃん専用オーダー服の販売サイトです。</p>
    
    <p><%= image_tag 'about.jpg', width:"100%" %></p>
    
    <p>（姉妹犬の【モナ】やお友達の【モカ】【こむぎ】にもモデルとして登場してもらってます！）</p>
    
    <h1>◆ご注文方法</h1>
    <div class="order-step">STEP 1 ：　ユーザー登録</div>
    <p>商品のご購入をお決めいただきましたら、ページ右上にございます【<%= link_to "ユーザー登録", new_end_user_registration_path, class: "fas fa-user-plus" %>】から
    <br>会員情報のご登録をお願い致します。</p>
    <div class="order-step">STEP 2 ：　商品を選ぶ</div>
    <p>【<%= link_to "アイテム一覧へ", items_path, class: "fas fa-tshirt" %>】から購入商品をお選び下さい。</p>
    <div class="order-step">STEP 3 ：　サイズを選ぶ</div>
    <p>サイズは【SS】【S】【M】【L】【LL】【DM】（ダックスM）からお選びいただけます。
    <br>お洋服を着せるわんちゃんのサイズに合わせて選択して下さい。
    <br><small>※サイズの選び方については<%= link_to "こちらから",  homes_size_path %></small></p>
    <div class="order-step">STEP 4 ：　生地を選ぶ</div>
    <p>生地につきましては、アイテムで一番多く使っている布地の部分をお選びいただけます。
    <br>生地一覧を下にスクロールしていただくと、現在取り扱っている柄や素材をご確認いただけます。
    <br>お好みの生地をチェックボックスにてご選択ください。</p>
    <div class="order-step">STEP 5 ：　リボンを選ぶ</div>
    <p>生地と同様、リボンも生地一覧からご確認いただき、チェックボックスよりご選択ください。</p>
    <div class="order-step">STEP 6 ：　カートに追加</div>
    <p>選択が完了しましたら、カートに追加してください。
    <br>ご希望の商品が全てカートに追加できましたら【配送先の選択へ進む】をクリックしてください。</p>
    <div class="order-step">STEP 7 ：　配送先の選択、購入情報の確認</div>
    <p>ご自身様の住所もしくは他の配送先を選択可能です。まだ登録されていない宛先へお送りする場合は
    <br>配送先の追加をしてください。次のページで入力された情報をご確認いただけます。
    <br><small class="small">※お支払い及び配送については<%= link_to "こちらから",  homes_ship_pay_path %></small></p>
    <div class="order-step">STEP 8 ：　購入完了</div>
    <p>【購入を確定する】ボタンのクリックで、ご注文が完了です！
    <br>オーナーが全て手作りしているため、製作には約 1 週間〜 2 週間ほどのお時間を頂戴しております。
    <br>丁寧にお仕上げ致しますので、到着までしばらくお待ちくださいませ。</p>
    <p class="text-center"><%= link_to "HOME に戻る", root_path %></p>
  </div>
</div>