<div class="container-full">
  <div class="sk-image">
    <div id="theTarget">
        <div style="background-image: image-url(sk/sk_img_1.jpg)"></div>
        <div style="background-image: image-url(sk/sk_img_2.jpg)"></div>
        <div style="background-image: image-url(sk/sk_img_3.jpg)"></div>
        <div style="background-image: image-url(sk/sk_img_4.jpg)"></div>
        <div style="background-image: image-url(sk/sk_img_5.jpg)"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <h1 class="text-center clear-h1"><i class="fas fa-bell"></i><strong> 新着アイテム </strong><i class="fas fa-bell"></i></h1>
  </div>
</div>
<div class="row">
  <% @items.each do |item|%>
    <div class="col-3">
      <% if item.status == "販売中"%>
          <%= link_to item_path(item) do%>
            <%= attachment_image_tag item, :image, :fill, 200, 200, format: "jpeg", alt: "アイテム画像" %>
            <br>◆<%= item.name %>
            <br><%= converting_to_jpy(item.price) %>
          <% end %>
      <%# 販売ステータスが「販売停止中」の場合、販売停止中と表示 %>
      <% else item.status == "販売停止中"%>
        <%= link_to item_path(item) do%>
          <%= attachment_image_tag item, :image, :fill, 200, 200, format: "jpeg", alt: "アイテム画像" %>
          <br>◆<%= item.name %>
          <br>※<%= item.status %>
        <% end %>
      <% end %>
    </div>
  <% end%>
</div>

<div class="row">
  <div class="col-4">
    <h1 class="text-center clear-h1"><i class="fas fa-crown"></i> <strong>お気に入り Ranking </strong><i class="fas fa-crown"></i></h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-3 item_rank1">
  <i class="fas fa-crown">１位</i>
  </div>
    <div class="col-3 item_rank2">
  <i class="fas fa-crown">２位</i>
  </div>
    <div class="col-3 item_rank3">
  <i class="fas fa-crown">３位</i>
  </div>
</div>

<div class="row justify-content-center">
  <% @item_rank.each do |item|%>
    <div class="col-3">
      <% if item.status == "販売中"%>
          <%= link_to item_path(item) do%>
            <%= attachment_image_tag item, :image, :fill, 200, 200, format: "jpeg", alt: "アイテム画像" %>
            <br>◆<%= item.name %>
            <br><%= converting_to_jpy(item.price) %>
          <% end %>
      <%# 販売ステータスが「販売停止中」の場合、販売停止中と表示 %>
      <% else item.status == "販売停止中"%>
        <%= link_to item_path(item) do%>
          <%= attachment_image_tag item, :image, :fill, 200, 200, format: "jpeg", alt: "アイテム画像" %>
          <br>◆<%= item.name %>
          <br>※<%= item.status %>
        <% end %>
      <% end %>
    </div>
  <% end%>
</div>