<div class="row">
  <div class="col-10 offset-1">
    <h1>マイページ</h1>
  </div>
</div>

<div class="row">
  <div class="col-5 offset-1">
    <h4><strong>登録情報</strong>
      <%= link_to '編集する', edit_end_user_path(current_end_user.id), class:"btn btn-primary" %>
      <%= link_to 'パスワードを変更する', edit_end_user_registration_path, class:"btn btn-primary" %>
    </h4>
    <table class="table table-bordered ">
      <tr>
        <td width="150">氏名</td>
        <td><%= @end_user.last_name %> <%= @end_user.first_name %></td>
      </tr>
      <tr>
        <td>ﾌﾘｶﾞﾅ</td>
        <td><%= @end_user.last_name_kana %> <%= @end_user.first_name_kana %>
        </td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td>〒<%= @end_user.zipcode.insert(3, "-") %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @end_user.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @end_user.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @end_user.email %></td>
      </tr>
    </table>
  </div>
  <div class="col-4 offset-1">
    <h4><strong>配送先　　　</strong><%= link_to '一覧を見る', addresses_path, class:"btn btn-primary" %> </h4>
    <h4><strong>注文履歴　　</strong><%= link_to '一覧を見る', orders_path, class:"btn btn-primary" %> </h4>
    <h4><strong>お気に入り　</strong><%= link_to '一覧を見る', end_user_likes_path(current_end_user), class:"btn btn-primary" %> </h4>
  </div>
</div>