<!DOCTYPE html>
<html>
  <head>
    <title>HelloSweetie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5d73e1e367.js" crossorigin="anonymous"></script>
  </head>
  
  <header>
    <div class="container">
      <% if controller.controller_path == 'admin_users/sessions' && controller.action_name == 'new' %>
      <% else %>
        <% if admin_user_signed_in? %>
        <ul class="nav navbar">
          <li><%= link_to "商品一覧", admin_items_path %></li>
          <li><%= link_to "会員一覧", admin_end_users_path %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
          <li><%= link_to "ジャンル管理", admin_genres_path %></li>
          <li><%= link_to "生地管理", admin_materials_path %></li>
          <li><%= link_to "リボン管理", admin_ribbons_path %></li>
          <li><%= link_to "管理者ログアウト", destroy_admin_user_session_path, method: :delete %></li>
        <% elsif end_user_signed_in? %>
          <nav class="navbar-text">
            <span class = "fas fa-dog" > Hello, <%= link_to current_end_user.first_name, end_user_path(current_end_user) %>!</span>
          </nav>
          <nav class="nav justify-content-center">
            <%= image_tag "logo.png" %>
          </nav>
          <nav class="nav justify-content-end">
          <li><%= link_to "カート", cart_items_path, :class => "fas fa-shopping-cart" %></li>
          <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, :class => "fas fa-sign-out-alt" %></li>
          </nav>
        <% else %>
          <nav class="navbar-text">
            <span class ="fas fa-user" > Hello, Guest！</span>
          </nav>
          <nav class="nav justify-content-center">
            <%= image_tag "logo.png" %>
          </nav>
          <ul class="nav justify-content-end">
            <li><%= link_to " ログイン　", new_end_user_session_path, :class => "fas fa-sign-in-alt" %></li>
            <li><%= link_to " 新規登録", new_end_user_registration_path, :class => "fas fa-user-plus" %></li>
          </ul>
        <% end %>
      <% end %>

    <ul class="nav navbar">
      <li><%= link_to " HOME", root_path, :class => "fas fa-home" %></li>
      <li><%= link_to " 初めての方へ", homes_about_path, :class => "fas fa-paw" %></li>
      <li><%= link_to " 全てのアイテム", items_path, :class => "fas fa-tshirt" %></li>
      <li><%= link_to "", "#" %></li>
    </ul>

  </header>
  
  <div class="container">
    <body>
      <%= yield %>
    </body>
  </div>

  <footer>
    <div class="container">
      <ul class="nav navbar">
        <li class="footer-list"><h5>営業日について</h5>
        土日・祝日を除く
        <br>平日9:00〜18:00</li>
        <li class="footer-list"><h5>お支払いについて</h5>
        銀行振込 及び 代金引換 のみ
        <br>対応しております</li>
        <li>© Hello,Sweetie!</li>
        <li class="footer-list"><h5>SNS</h5>
        <%= link_to "","https://www.instagram.com/liebling_suzu/?hl=ja", :class => "fab fa-instagram icon-class" %>
        <br>これまでに製作したお洋服や
        <br>着用画像を投稿しております！</li>
        <li class="footer-list"><h5>サイト管理者</h5>
        〇〇　〇〇
        <br>〒×××-××××
        <br>〇〇県〇〇市〇〇 ×-××-××
        </li>
      </ul>
    </div>
  </footer>

</html>
